@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header-space{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5b5f5e;
    height: 12vh;
}

.header{
    font-size: 1.5rem;
    letter-spacing: 2ch;
    background: transparent;
    font-family: 'Major Mono Display', monospace;
    color: #0F0F0F;
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 50px;
    font-size: 28px;
    color: #fff;
    letter-spacing: 1ch;
    font-family: 'Barrio', cursive;
}

.score-board{
    display: flex;
    flex-direction: row;
    gap: 500px;
}

.player, .computer{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #1f1f1f;
    height: auto;
}

.main-head{
    padding-top: 1.5rem;
    font-size: 1.5rem;
    letter-spacing: 1.5ch;
    background: transparent;
    color: #fff;
    font-family: 'Covered By Your Grace', cursive;
}

.secondary-head{
    padding-top: 1.5rem;
    font-size: 25px;
    letter-spacing: 10px;
    background: transparent;
    color: #fff;
    font-family: 'Covered By Your Grace', cursive;
}

.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    height: 50vh;
}

.set{
    display: flex;  
    gap: 20vh;
    height: 60vh;
    width: auto;
    align-items:flex-end;
}

button img{
    width: 20vh;
    height: 20vh;
}

button{
    outline: none;
    background: transparent;
    border-style: none;
}

footer{
    color: #fff;
    height: 100px;
    letter-spacing: 5px;
    padding-top: 50px;
    font-family: 'Rock 3D', cursive;
}